<div class="ui inverted vertical center aligned segment">
  <div class="ui container">
    <div class="ui massive borderless inverted menu">
      <h1 class="header item">
        StorkDB
      </h1>
      <div class="right item">
        <div class="ui massive secondary inverted pointing menu">
          <a class="active item">Home</a>
          <a class="item">{{#link-to 'features'}}Features{{/link-to}}</a>
          <a class="item">Contact</a>
        </div>
      </div>
    </div>
  </div>
  <div class="ui text container">
    <h1 class="ui inverted header">
      StorkDB Project.
    </h1>
    <p>
      This is SE3309a–Database Management Systems course project. We present a Web interface to the database application proposed and outlined in Assignment 1.
    </p>
    {{show-er}}
  </div>
  <div class="ui inverted vertical footer segment">
    Solution for <b> Assignment 4</b>, by <b>StorkDB team</b>.
  </div>
</div>
