<div class="ui massive white button" {{action 'openModal'}}>
  Explore the E-R diagram
</div>

{{#ui-modal name="showER" class="showER" }}
  <i class="close icon"></i>
  <div class="image content">
    <img class="ui centered image" src="/assets/images/E-R_Diagram.png">
  </div>
{{/ui-modal}}
